<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="frame.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
