<!--内网-->
<config>
	<!--客户端资源配置-->
	<Path>
		<MainSite path="http://hero.61.com" />
		<Config path="config/" />
		<AppConfig path="res/config/" /> 
		
		<Map path="res/map/" />
		<MapObj path="res/mapObj/" />
		<Role path="res/role/" />
		<Suit path="res/items/cloth/" />
		<Item path="res/items/collection/icon/" />
		<UI path="res/UI/" />
		<Sound path="res/sound/" />
		<BGM path="res/bgm/" />
		<Battle path="res/battle/" />
		<BattleFiled path="res/battle/bg/" />
		<AppModule path="module/com/mole2/module/" />
		<TaskSwf path="res/task/swf/" />
		<Task path="res/task/" />
		<Fitment path="res/house/" />
		<NPC path="res/mapObj/npc/" />
		<MapAll path="res/mapAll/" />
	</Path>
	
	<!--版本配置-->
	<Version>
		<news ver="16" />
		<reg  ver="1" />
		<ui  ver="1" />
		<client  ver="1" />
		<battle  ver="1" />
	</Version>
	
	<ServerList max="300" maxVIP="500">
		<server id="1" name="【PVP】装逼得瑟"/>
		<server id="2" name="【比赛】专用服"/>
		<server id="3" name="【萌新】任务服"/>
		<server id="4" name="【升级】打怪1服"/>
		<server id="5" name="【爬塔】推荐服"/>
		<server id="6" name="【升级】打怪2服"/>
		<server id="7" name="普吉岛晒太阳"/>
		<server id="8" name="塞班岛潜水"/>
		<server id="9" name="毛里求斯蜜月"/>
		<server id="10" name="深山老林养老"/>

	</ServerList>
	
	<suit>
		<resources>
			<dressConfig path="res/suit/actionDress.xml" />
			<src path="res/role/role1.swf" />
			<src path="res/suit/head/0.swf" /> 
			<src path="res/suit/coat/3.swf" /> 
			<src path="res/suit/hands/4.swf" />
			<src path="res/suit/feet/6.swf" />
			<src path="res/suit/weapon0/8.swf" />  
			<src path="res/suit/weapon1/10.swf" />
		</resources>
	</suit>
	
</config>